* {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			color: white;
			padding: 0px;
			margin: 0px;
		}
		body {
			text-align: center;
			background: black;
			min-height: 400px;
		}
		#main {
			text-align: left;
			margin: 30px auto;
			padding: 20px;
			max-width: 700px;
			background-color: rgba(255,255,255,.2);
		}
		h1 {
			border-bottom: 1px solid white;
			margin: 0px;
			padding: 0px;
			font-weight: 300;
		}
		#mainParagraph {
			margin-top: 8px;
			line-height: 1.5em;
		}
		#contact {
			margin-top: 1.1em;
		}
		.otherParagraphs {
			margin-top: 1.1em;
		}
		.note, a {
			background-color: rgba(255,255,255,.15);
			text-decoration: none;
			padding: 0 2px;

		}
		a {
			background-color: rgba(255,255,255,.25);
			border-bottom: 1px solid white;
		}
		a:hover{
			color: #222;
			background-color: white;
		}
		footer {
			margin-bottom: 1.1em
		}
		@media only screen and (min-width: 768px) {
			footer {
				text-align: center;
				margin: 0px auto;
				position: fixed;
				width: inherit;
				padding: 0px;
				left: 0px;
				right: 0px;
				bottom: 30px;
			}
		}
